<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://d21buns5ku92am.cloudfront.net/69466/images/400538-Variety-GRA15707-035-56f8ed-original-1630320622.jpg);">
  <div class="container text-sm-start text-md-center text-lg-center text-xl-center">
    <h1>JustEat</h1>
    <h4>Find your restaurant - made easy</h4>
  </div>
</div>
