<div class = "searchbar px-4">
  <%= form_with url: root_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a postcal code, i.e 'BN11AE', 'CB74DL', ..."
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
</div>
